nav {
   text-align: right;
    button {
        height: 30px;
    }
}
.user {
    padding: 10px 40px;
    display: flex;
    button {
        display: block;
        margin-left: 30px;
        height: 30px;
        width: 30px;
        color: blue;
        cursor: pointer;
    }
}

.left-user {
    width: 300px;
    display: flex;
    .left-user_name{
        width: 200px;
    }
}

th {
    width: 100px;
}
td {
    width: 100px;
}


// custom styles for primeng
:host {
    ::ng-deep .button-edit{
      
        margin-right: 40px;
    
    } 

    ::ng-deep .btn-add{
       
        span{
            font-weight: 400;
        }
    } 
}

.nav{
    display: flex;
    .name{
        width: 200px;
        margin-left: 40px;
    }
    .age{
        width: 200px;
        margin-left: 40px;
    }
}

.left-user_age{
    width: 200px;
    text-align: center;
}

.left-user_name{
    width: 200px;
}