<nav>
    <h2>List Users</h2>
    <button (click)="addUser()">
        <i class="fa-solid fa-plus"></i>
        Add
    </button>
</nav>

<div *ngFor="let user of newdata" class="list-user">
    <div class="user">
        <div class="left-user">
            Name: {{ user.name }}
            <br />
            Age: {{ user.age }}
        </div>
        <button (click)="onClick(user)"><i class="fa-solid fa-info"></i></button>
        <button (click)="delete(user)"><i class="fa-solid fa-trash"></i></button>
        <button (click)="edit(user)"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
</div>
