<div class="card flex">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
</div>

<nav>
    <p-button (click)="addUser()" styleClass="btn-add" label="Add" icon="pi pi-plus"></p-button>
</nav>

<div class="nav">
    <h3 class="name">Name</h3>
    <h3>Age</h3>
</div>

<div *ngFor="let user of newdata" class="list-user">
    <div class="user">
        <div class="left-user">
            <p class="left-user_name">{{ user.name }}</p>
            <p>{{ user.age }}</p>
        </div>
        <p-button (click)="onClick(user)" styleClass="button-edit" icon="pi pi-info"></p-button>
        <p-toast></p-toast>
        <p-button pRipple (click)="delete(user)" styleClass="button-edit" icon="pi pi-trash"></p-button>
        <p-button (click)="edit(user)" styleClass="button-edit" icon="pi pi-user-edit"></p-button>
    </div>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
