<h2>Add User</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <h3>User infomation:</h3>
    <label>
        <p>Name:</p>
        <input type="text" pInputText formControlName="name" />
    </label>
    <label>
        <p>Age:</p>
        <input type="text" pInputText formControlName="age" />
    </label>
    <label>
        <p>Decription:</p>
        <input type="text" pInputText formControlName="decription" />
    </label>

    <h3>Address:</h3>

    <ng-container formArrayName="address" *ngFor="let o of address.controls; let i = index">
        <div *ngIf="form" [formGroupName]="i" class="addr">
            <label>
                <p>Phường (xã):</p>
                <input type="text" pInputText formControlName="phuong" />
            </label>
            <label>
                <p>Quận (huyện):</p>
                <input type="text" pInputText formControlName="quan" />
            </label>
            <label>
                <p>Thành phố (tỉnh):</p>
                <input type="text" pInputText formControlName="thanhPho" />
            </label>
            <p-button type="button" (click)="remove(i)" styleClass="btn-remove" icon="pi pi-trash"></p-button>
        </div>
    </ng-container>
    <p-button type="button" (click)="addNewAddr()" styleClass="btn-add" icon="pi pi-plus"></p-button>
    <br />
    <p-toast></p-toast>
    <p-button type="submit" pRipple styleClass="btn-submit" label="Submit"></p-button>
</form>
