<div class="card flex">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Infomation:</h3>
    <label>
        <h4>Name:</h4>
        <input pAutoFocus [autofocus]="true" type="text" pInputText formControlName="name" />
    </label>
    <label>
        <h4>Age:</h4>
        <input type="text" pInputText formControlName="age" />
    </label>
    <label>
        <h4>Decription:</h4>
        <input type="text" pInputText formControlName="decription" />
    </label>

    <h3>Address:</h3>

    <ng-container formArrayName="address" *ngFor="let o of address.controls; let i = index">
        <div *ngIf="form" [formGroupName]="i" class="addr">
            <label>
                <h4>Phường (xã):</h4>
                <input type="text" pInputText formControlName="phuong" />
            </label>
            <label>
                <h4>Quận (huyện):</h4>
                <input type="text" pInputText formControlName="quan" />
            </label>
            <label>
                <h4>Thành phố (tỉnh):</h4>
                <input type="text" pInputText formControlName="thanhPho" />
            </label>
            <p-button type="button" (click)="remove(i)" styleClass="btn-remove" icon="pi pi-trash"></p-button>
        </div>
    </ng-container>
    <p-button type="button" (click)="addNewAddr()" styleClass="btn-add" icon="pi pi-plus"></p-button>
    <br />
    <p-toast styleClass="messageErr"></p-toast>
    <p-button type="submit" pRipple styleClass="btn-submit" label="Submit"></p-button>
</form>
