<div class="wrapper">
    <nav>
        <div class="nav-left">
            <ul>
                <li>
                    <a [routerLink]="['/home']"> <h4>Home</h4></a>
                </li>
                <li>
                    <a [routerLink]="['/list-user']"> <h4>Users</h4></a>
                </li>
                <li>
                    <a [routerLink]="['/about']"> <h4>About</h4></a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <p-button styleClass="btn-signin" label="Login" icon="pi pi-sign-in"></p-button>
        </div>
    </nav>
    <body class="body">
        <router-outlet></router-outlet>
    </body>
    <footer>
        <p>Thông tin liên hệ</p>
        <p>About us</p>
    </footer>
</div>
