<div class="card flex">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
</div>

<div>
    <div *ngIf="user != null" class="user">
        <h3>Name:</h3>
        <p>{{ user.name }}</p>
        <br />
        <h3>Age:</h3>
        <p>{{ user.age }}</p>
        <br />
        <h3>Description:</h3>
        <p>{{ user.decription }}</p>
        <br />
        <h3>Địa chỉ:</h3>
        <ul *ngFor="let i of user.address">
            <li>
                <p>Phường: {{ i.phuong }}</p>
                <p>- Quận {{ i.quan }}</p>
                <p>- Thành phố {{ i.thanhPho }}</p>
            </li>
        </ul>
    </div>
</div>
